.shelf {
  background-color: var(--section-bgcol-1);
  padding-inline: calc((100% - var(--content-max-width)) / 2);
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;

  & > * {
    flex: 1 0 50%;
  }
}
