.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bgcol);
  border-radius: 20px;
  scroll-snap-align: center;
  padding: var(--space-m);
  & p {
    --flow-space: var(--space-m);
  }
}
