.header {
  display: grid;
  place-items: end;
  color: var(--font-col);
  font-size: var(--step--1);
  margin-inline: 1rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  accent-color: var(--accent-col);
  gap: 1rem;
}
