.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: calc((100% - var(--content-max-width)) / 2);
  background-color: var(--section-bgcol-1);

  justify-items: center;
}

.img {
  border-radius: 1000px;
  max-width: 300px;
}

/* .item1 {
  margin-top: -5rem;
} */

.item2 {
  align-self: center;
}

.inline {
  max-width: 35ch;
}
