.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: calc((100% - var(--content-max-width)) / 2);
  gap: clamp(1rem, 50%, 3rem);
  background-color: var(--section-bgcol-1);
}

.img {
  border-radius: 1000px;
  max-width: 300px;
}

.item1 {
  place-self: center end;
  margin-top: -5rem;
}

.item2 {
  place-self: center start;
}

.inline {
  max-width: 35ch;
}
