.container {
  container: list / inline-size;
  background-color: var(--section-bgcol-1);
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: calc((100% - var(--content-max-width)) / 2);

  place-items: center;
}

.img {
  border-radius: 1000px;
  max-width: 300px;
}

.inline {
  max-width: 35ch;
}

@container list (width < 800px) {
  .layout {
    gap: 1rem;
  }
}
