.layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.li {
  background-color: var(--section-bgcol-1);
  color: var(--font-col);
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
}

.li:hover .link {
  color: var(--decoration-col-2);
}
