.outerBox {
  border-width: 4px;
  border-color: var(--decoration-col-1);
  height: 100px;
  width: clamp(200px, 30%, 500px);
  display: grid;
}

.innerBox {
  border-width: 4px;
  border-color: var(--decoration-col-2);
  margin: 1.5rem;
  height: 50px;
  width: clamp(75px, 30%, 350px);
}

.topLeft {
  border-style: solid hidden hidden solid;
}

.topRight {
  border-style: solid solid hidden hidden;
  place-self: start end;
}

.bottomLeft {
  border-style: hidden hidden solid solid;
  place-self: end start;
}

.bottomRight {
  border-style: hidden solid solid hidden;
  place-self: end;
}

.layout {
  display: grid;
  margin-block: var(--space-l);
}
